.DS_Store
*.zip
*.project
/.metadata/
FHIR3-0-1-MM201901-Dev/Medication-9-0-7/_reference/desktop.ini
FHIR3-0-1-MM201901-Dev/Medication-9-0-7/_util/result.xml
FHIR3-0-1-MM201901-Dev/AllergyIntolerance-1-1-3/_util/result.xml
FHIR3-0-1-MM201901-Dev/AllergyIntolerance-2-2-0/_util/result.xml
Configuration/QualificationTokens.xml
