name: Repo integrity

# Run this workflow when a pull request is created to master
on: pull_request

jobs:
  check-integrity:
    name: Check the integrity of the repository
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v2

      # Check that QualificationTokens.json still exists in the right place
      - name: Check existence of QualificationTokens.json
        run: |
          if [[ ! -f Configuration/QualificationTokens.json ]]; then
            echo ::error::The file Configuration/QualificationTokens.json is gone. This file may never be removed!
            exit 1
          fi
        
      # Runs the Super-Linter action
      - name: Run Super-Linter on XML and JSON files
        uses: super-linter/super-linter/slim@v5
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_JSON: true
          VALIDATE_XML: true
